{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul class="flex items-center space-x-6 mt-4">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $classes := "text-gray-600 hover:text-gray-900 transition-colors font-light" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $classes = "text-gray-900 font-medium" }}
      {{- $attrs = merge $attrs (dict "class" $classes "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $classes = "text-gray-700 font-medium" }}
      {{- $attrs = merge $attrs (dict "class" $classes "aria-current" "true") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" $classes) }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul class="absolute top-full left-0 mt-4 bg-white border border-gray-200 rounded-lg shadow-lg py-2 min-w-48 hidden group-hover:block">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
