{{- if eq .Section "farms" -}}
  {{ .Title }} | {{ if .Params.categories }}{{ $firstCategory := index .Params.categories 0 }}{{ $categoryPath := printf "/%s/" ($firstCategory | urlize) }}{{ $categoryPage := site.GetPage $categoryPath }}{{ if $categoryPage }}{{ $categoryPage.Title }}{{ else }}{{ $firstCategory | replace "-" " " | title }}{{ end }} Farm{{ else }}Farm{{ end }}{{ if or .Params.address.city .Params.address.province }} In {{ end }}{{ if .Params.address.city }}{{ .Params.address.city }}{{ end }}{{ if and .Params.address.city .Params.address.province }}, {{ end }}{{ if .Params.address.province }}{{ .Params.address.province }}{{ end }}
{{- else -}}
  {{- $currentPath := .RelPermalink -}}
  {{- $pathParts := split (trim $currentPath "/") "/" -}}
  
  {{- if gt (len $pathParts) 0 -}}
    {{- $category := index $pathParts 0 -}}
    {{- $categoryPath := printf "/%s/" $category -}}
    {{- $categoryPage := site.GetPage $categoryPath -}}
    {{- if $categoryPage -}}
      {{- $category = $categoryPage.Title -}}
    {{- else -}}
      {{- $category = $category | replace "-" " " | title -}}
    {{- end -}}
    
    {{- if eq (len $pathParts) 1 -}}
      All {{ $category }} Farms in Canada - {{ .Site.Title }}
    {{- else if eq (len $pathParts) 2 -}}
      {{- $province := index $pathParts 1 -}}
      {{- $provincePath := printf "/%s/%s/" (index $pathParts 0) $province -}}
      {{- $provincePage := site.GetPage $provincePath -}}
      {{- if $provincePage -}}
        {{- $province = $provincePage.Title -}}
      {{- else -}}
        {{- $province = $province | replace "-" " " | title -}}
      {{- end -}}
      Find a {{ $category }} farm in {{ $province }} - {{ .Site.Title }}
    {{- else if eq (len $pathParts) 3 -}}
      {{- $provinceSlug := index $pathParts 1 -}}
      {{- $citySlug := index $pathParts 2 -}}
      {{- $cityPath := printf "/%s/%s/%s/" (index $pathParts 0) $provinceSlug $citySlug -}}
      {{- $cityPage := site.GetPage $cityPath -}}
      {{- if $cityPage -}}
        {{- $city := $cityPage.Title -}}
        {{- $province := $cityPage.Parent.Title -}}
        Find a {{ $category }} farm near {{ $city }}, {{ $province }} - {{ .Site.Title }}
      {{- else -}}
        {{- $province := $provinceSlug | replace "-" " " | title -}}
        {{- $city := $citySlug | replace "-" " " | title -}}
        Find a {{ $category }} farm near {{ $city }}, {{ $province }} - {{ .Site.Title }}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{ .Title }} | {{ .Site.Title }}
  {{- end -}}
{{- end -}}