<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white text-gray-900 font-light mx-auto px-2">
  <header class="border-b border-gray-100">
    {{ partial "header.html" . }}
  </header>
  <main class="flex-1 mx-6">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="border-t border-gray-100 mt-auto">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
